.parallax {
    /* The image used */
    background-image: url("../images/c.jpg");

    /* Set a specific height */
    min-height: 786px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 



 .personal_info{
    /* The image used */
    background-image: url("../images/bg.jpg");

    
} 


